.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    //vertical-align: middle;
    .page {
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
    }
    .display {
        opacity: 1;
        transition: all 1s ease-in-out;
    }
    .undisplay {
        opacity: 0;
        transition: all 1s ease-in-out;
    }
    .welcome {
        background-image: url(../images/guessNum/m-wrona-pCgxm-HDMNs-unsplash.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        .ant-card {
            background: transparent;
            margin-bottom: 10%;
            .welcome-title {
                width: 100%;
                height: 100%;
                background-image: url(../images/guessNum/welcome-title.png);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
            .welcome-start-btn {
                width: 237px;
                height: 100px;
                background-image: url(../images/guessNum/welcome-start-btn.png);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                cursor: pointer;
                &:hover {
                    transform: scale(1.05);
                    transition: all .1s ease-in-out;
                }
            }
        }
    }
    .nextone-btn {
        &:hover {
            transform: scale(1.05);
            transition: all .1s ease-in-out;
        }
    }
    .box {
        width: 100%;
        height: 100%;
        position: relative;
        .head {
            position:absolute;
            top: 0;
            z-index: 2;
            color: #FFF;
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
    }
    .story {
        min-width: 50%;
        position: absolute;
    }
    .storyText {
        color: #F8EFDF;
        font-size: 1.5em;
        font-weight: lighter;
    }
    .nextone {
        width: 30%;
        max-width: 205px;
        float: right;
        font-size: 0.5em;
        text-align: center;
        p {
            color: #F8EFDF;
            font-weight: lighter;
        }
    }
    .nextone-btn {
        height: 100px;
        margin-top: -36px;
        background-image: url(../images/guessNum/nexton-btn.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    

    .page1 {
        z-index: 1;
        .row {
            width: 100%;
            height: 100%;
            .page1-left{
                width: 100%;
                height: 100%;
                background-image: url(../images/guessNum/pagebg-left.png);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                padding: 8em;
                text-align: left;
            }
            .page1-right {
                width: 100%;
                height: 100%;
                background-image: url(../images/guessNum/fran-jacquier-tmuArUNS1TI-unsplash.jpg);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
        }
    }
    .page2 {
        z-index: 2;
        background-image: url(../images/guessNum/becca-schultz-l6BenhrIc2w-unsplash.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        .story {
            top: 10%;
            right: 15%;
        }
    }
    .page3 {
        z-index: 3;
        background-image: url(../images/guessNum/peter-herrmann-NQLzyrn69XA-unsplash.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        .story {
            top: 20%;
            left: 20%;
        }
    }
    .page4 {
        z-index: 4;
        background-image: url(../images/guessNum/priscilla-du-preez-zY0q8eFom8I-unsplash.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        .story {
            top: 10%;
            left: 15%;
        }
    }
    .page5 {
        z-index: 5;
        .row {
            width: 100%;
            height: 100%;
            .page5-left {
                width: 100%;
                height: 100%;
                background-image: url(../images/guessNum/charlesdeluvio-pcZvxrAyYoQ-unsplash.jpg);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
            .page5-right {
                width: 100%;
                height: 100%;
                background-image: url(../images/guessNum/pagebg-left.png);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;  
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }
        }

    }
    .page6 {
        background-image: url(../images/guessNum/dan-gold-R1aGG70azDU-unsplash-2.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 6;
        .story {
            width: 100%;
            height: 100%;
            .storyText {
                p{
                    position: absolute;
                }
                .text1 {
                    top: 10%;
                    left: 10%;
                }
                .text2 {
                    top: 20%;
                    right: 15%;
                }
                .text3 {
                    bottom: 10%;
                    left: 15%;
                }
                .text4 {
                    bottom: 10%;
                    right: 10%;
                    font-size: .8em;
                }
                .rule {
                    .mark{
                        color: #FFE64C;
                    }
                    .instance {
                        font-size: .8em;
                    }
                }
                .penalty > .mark {
                    color: #FA6A50;
                }
                
            }
            .nextone {
                position: absolute;
                right: 5%;
                bottom: 3%;
            }
        }
        
    }
    .game {
        background-image: url(../images/guessNum/thom-milkovic-kYlYwQze5vI-unsplash.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 4em 0;
        z-index: 7;
        .leftbox {
            padding: 4em 0;
            .result {
                border: 3px solid #C2E5DE;
                height: 100%;
            }
        }
        // .rightbox {
        //     height: 100%;
            .panel {
                height: 100%;
                max-width: 810px;
                background-image: url(../images/guessNum/panelBG.png);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                position: relative;
                text-align: center;
                // .NumBTN-1{
                //     height: 100%;
                //     width: 100%;
                //     position: absolute;
                //     top: 0;
                //     left: 0;
                //     background-image: url(../images/guessNum/panelOneBTN.png);
                //     background-size: contain;
                //     background-position: center;
                //     background-repeat: no-repeat;
                // }
                $A_BTN_Position_Y:18%;
                $B_BTN_Position_Y:35%;
                $C_BTN_Position_Y:52%;
                $D_BTN_Position_Y:69%;
                $I_BTN_Position_X:26%;
                $II_BTN_Position_X:44%;
                $III_BTN_Position_X:62%;

                div[class^="NumBTN"],.ruleBTN,.CheckBTN {
                    position: absolute;
                    // top: 18%;
                    // left: 27%;
                    width: 13%;
                    height: 13%;
                    //background-image: url(../images/guessNum/panelOneBTN.png);
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;
                }
                .ruleBTN{
                    background-image: url(../images/guessNum/rule.png);
                    top: $D_BTN_Position_Y;
                    left: $I_BTN_Position_X;
                }
                .CheckBTN{
                    background-image: url(../images/guessNum/check.png);
                    top: $D_BTN_Position_Y;
                    left: $III_BTN_Position_X;
                }
                .NumBTN-1{
                    background-image: url(../images/guessNum/panelOneBTN.png);
                    top: $A_BTN_Position_Y;
                    left: $I_BTN_Position_X;
                }
                .NumBTN-2{
                    background-image: url(../images/guessNum/panelTwoBTN.png);
                    top: $A_BTN_Position_Y;
                    left: $II_BTN_Position_X;
                }
                .NumBTN-3{
                    background-image: url(../images/guessNum/3.png);
                    top: $A_BTN_Position_Y;
                    left: $III_BTN_Position_X;
                }
                .NumBTN-4{
                    background-image: url(../images/guessNum/4.png);
                    top: $B_BTN_Position_Y;
                    left: $I_BTN_Position_X;
                }
                .NumBTN-5{
                    background-image: url(../images/guessNum/5.png);
                    top: $B_BTN_Position_Y;
                    left: $II_BTN_Position_X;
                }
                .NumBTN-6{
                    background-image: url(../images/guessNum/6.png);
                    top: $B_BTN_Position_Y;
                    left: $III_BTN_Position_X;
                }
                .NumBTN-7{
                    background-image: url(../images/guessNum/7.png);
                    top: $C_BTN_Position_Y;
                    left: $I_BTN_Position_X;
                }
                .NumBTN-8{
                    background-image: url(../images/guessNum/8.png);
                    top: $C_BTN_Position_Y;
                    left: $II_BTN_Position_X;
                }
                .NumBTN-9{
                    background-image: url(../images/guessNum/9.png);
                    top: $C_BTN_Position_Y;
                    left: $III_BTN_Position_X;
                }
                .NumBTN-0{
                    background-image: url(../images/guessNum/0.png);
                    top: $D_BTN_Position_Y;
                    left: $II_BTN_Position_X;
                }
                // .NumBTN-{
                //     background-image: url(../images/guessNum/panelOneBTN.png);
                // }
                // .NumBTN-1{
                //     background-image: url(../images/guessNum/panelOneBTN.png);
                // }
            }
        // }
        
    }

    .success {
        background-image: url(../images/guessNum/zulian-firmansyah-sEUAJeFn5mE-unsplash.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 8;
        .story {
            top: 20%;
            left: 30%;
            .gameOver {
                height: 100px;
                background-image: url(../images/guessNum/gameOverBTN.png);
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
            }
        }
    }

    .fail {
        background-image: url(../images/guessNum/pexels-cottonbro-studio-3738121.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 9;
        .story {
            top: 40%;
            left: 10%;
            .reGame {
                display: flex;
                justify-content: space-around;
                .reGameBTN{
                    width: 100%;
                    height: 100px;
                    background-image: url(../images/guessNum/gameOverBTN.png);
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;
                }
                .failGameOverBTN{
                    width: 100%;
                    height: 100px;
                    background-image: url(../images/guessNum/FailGameOverBTN.png);
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;
                }
            }
        }
    }
}