.Cardboxfront {
    height: 100px;
    width: 30px;
    background-color: aqua;
    //text-align: center;
   // margin: auto 0;  
}
.Cardboxback {
    height: 100px;
    width: 30px;
    background-color: rgb(35, 94, 94);
}