@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,300;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  font-family: "Poppins", arial;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style-type: none;
  margin: 0 !important;
  padding: 0;
}

img {
  width: 100%;
}

.morePicture {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}
.morePicture button {
  padding: 0.25rem 0.25rem;
  font-style: 2rem;
  border: none;
  background-color: rgb(94, 29, 29);
  color: #fff;
  cursor: pointer;
}

.nav-container {
  background-color: rgb(102, 158, 104);
}
.nav-container ul {
  display: flex;
  justify-content: flex-end;
  margin-right: 3rem;
}
.nav-container ul li {
  padding: 0.5rem;
}
.nav-container ul li a {
  color: #fff;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 2em 0em 2em;
}
header .logo {
  color: rgb(197, 60, 60);
  font-weight: bold;
}
header .logo img {
  width: 80px;
}
header ul {
  display: flex;
}
header ul a {
  display: block;
  padding: 0 1em;
}

.social-header {
  display: none;
}

@media only screen and (min-width: 1050px) {
  .hero {
    height: 90vh;
    background-image: linear-gradient(to right, rgb(110, 175, 112) 66%, rgba(110, 175, 112, 0));
  }
  .nav-container {
    display: grid;
    grid-template-columns: 66% auto;
    background: unset;
    background-image: linear-gradient(to right, rgb(92, 146, 93) 66%, rgba(110, 175, 112, 0));
    box-shadow: 0px 5px 5px rgb(74, 105, 97);
  }
  header {
    padding: 0.5em 2em 0em 4em;
  }
  .social-header {
    padding: 2em 4em 2em 0;
  }
  section {
    padding: 4em;
  }
  .social-header {
    display: block;
    margin: auto 0px;
  }
  .social-header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 5em;
    float: right;
  }
  .social-header ul img {
    width: 20px;
  }
}
@media only screen and (min-width: 1250px) {
  header {
    padding: 0.5em 2em 0em 10em;
  }
  .social-header {
    padding: 2em 10em 2em 0;
  }
}
@media only screen and (min-width: 1550px) {
  header {
    padding: 0.5em 2em 0em 20em;
  }
  .social-header {
    padding: 2em 20em 2em 0;
  }
}
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  background-color: rgb(206, 206, 206);
}

.pictures {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.pictures .picture {
  padding: 1rem;
  width: 400px;
}
.pictures .picture .imageContainer {
  overflow: hidden;
  height: 40vh;
}
.pictures .picture .imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease;
}
.pictures .picture .imageContainer img:hover {
  transform: scale(1.25);
}

.hero-design {
  display: none;
}

.hero {
  background-color: rgb(110, 175, 112);
  display: grid;
  text-align: center;
  padding: 4em;
}
.hero h1 {
  color: white;
  font-weight: bold;
}
.hero .meet {
  font-weight: bold;
  color: rgb(197, 60, 60);
}
.hero .meet span {
  margin-top: 1em;
  margin-right: 0.5em;
}

.scroll {
  width: 40px;
  margin-top: 2em;
}

section {
  padding: 4em 2em;
  text-align: center;
}

.featured {
  position: relative;
}
.featured .ex .ex-til {
  font-size: 2em;
  font-weight: bold;
}
.featured .ex .ex-qua {
  color: #CCC60E;
  padding-left: 2em;
}
.featured .ex .ex-qua span {
  font-size: 4em;
}

.featured::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: rgb(255, 235, 235);
  top: 0;
  left: 0;
  z-index: -1;
}

.subtitle {
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(197, 60, 60);
  letter-spacing: 0.2em;
  font-size: 0.85em;
}

.featured-title {
  color: #000;
  font-weight: bold;
  font-size: 1.3em;
  margin-top: -0.4em;
  display: block;
}

.featured-desc {
  color: #252525;
  margin-bottom: 3em;
  font-style: 0.9em;
  line-height: 1.8em;
  font-weight: 500;
}

.skills {
  background-color: rgb(197, 60, 60);
}

.skills-container ul li {
  background-color: #fff;
  padding: 2em;
  border-radius: 1em;
  margin-bottom: 1em;
}
.skills-container ul li .icon-container {
  height: 100px;
  display: grid;
  place-content: center;
  margin: 0 auto;
}
.skills-container ul li .icon-container.one, .skills-container ul li .icon-container.three {
  width: 50px;
}
.skills-container ul li .icon-container.two 　 {
  width: 100px;
}
.skills-container ul li .skill-title {
  font-weight: bold;
}
.skills-container ul li .featured-desc {
  margin-bottom: 2em;
}

.portfolio {
  background-color: #f7f7f7;
  text-align: center;
}

.portfolio-container a img {
  border-radius: 1em;
  margin-bottom: 2em;
}

@media only screen and (min-width: 800px) {
  .featured, .portfolio {
    text-align: left;
  }
  .featured, .portfolio-container {
    display: grid;
    grid-template-columns: 40% auto;
  }
  .left, .portfolio-left {
    display: grid;
    place-content: center;
  }
  .right {
    margin-left: 2em;
    margin-top: 1em;
  }
  .exper .ex {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .skills {
    margin-top: -5em;
    margin-bottom: -7em;
    padding-top: 7em;
  }
  .skills-container ul {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 1em;
  }
  .portfolio {
    padding-top: 7em;
  }
  .portfolio-container img {
    margin-left: 2em;
  }
}
@media only screen and (min-width: 1050px) {
  .hero {
    display: grid;
    grid-template-columns: 66% auto;
    background-color: unset;
    padding: 0;
  }
  .hero .content {
    background-color: unset;
    padding: 6em 8em 6em 4em;
    text-align: left;
  }
  .hero .content h1 {
    font-size: 3em;
    line-height: 1.2em;
  }
  .meet {
    margin: unset;
  }
  .hero-design {
    display: unset;
    width: 120%;
    margin-left: -40%;
    overflow: hidden;
  }
  .hero-design img {
    height: 100%;
    width: unset;
  }
  .portfolio img {
    float: right;
    max-width: 500px;
  }
}
@media only screen and (min-width: 1250px) {
  section {
    padding: 10em 10em 4em 10em;
  }
  .hero .content {
    padding: 6em 8em 6em 10em;
  }
}
@media only screen and (min-width: 1550px) {
  section {
    padding: 6em 20em 4em 20em;
  }
  .hero .content {
    padding: 9em 20em 6em 20em;
  }
}
.scrollAnima {
  animation: scrollAnima 1s infinite alternate-reverse;
}

@keyframes scrollAnima {
  from {
    transform: translate(881px, 120px);
    z-index: 5;
  }
  to {
    transform: translate(881px, 130px);
  }
}
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.container .page {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}
.container .display {
  opacity: 1;
  transition: all 1s ease-in-out;
}
.container .undisplay {
  opacity: 0;
  transition: all 1s ease-in-out;
}
.container .welcome {
  background-image: url(../images/guessNum/m-wrona-pCgxm-HDMNs-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.container .welcome .ant-card {
  background: transparent;
  margin-bottom: 10%;
}
.container .welcome .ant-card .welcome-title {
  width: 100%;
  height: 100%;
  background-image: url(../images/guessNum/welcome-title.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.container .welcome .ant-card .welcome-start-btn {
  width: 237px;
  height: 100px;
  background-image: url(../images/guessNum/welcome-start-btn.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.container .welcome .ant-card .welcome-start-btn:hover {
  transform: scale(1.05);
  transition: all 0.1s ease-in-out;
}
.container .nextone-btn:hover {
  transform: scale(1.05);
  transition: all 0.1s ease-in-out;
}
.container .box {
  width: 100%;
  height: 100%;
  position: relative;
}
.container .box .head {
  position: absolute;
  top: 0;
  z-index: 2;
  color: #FFF;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.container .story {
  min-width: 50%;
  position: absolute;
}
.container .storyText {
  color: #F8EFDF;
  font-size: 1.5em;
  font-weight: lighter;
}
.container .nextone {
  width: 30%;
  max-width: 205px;
  float: right;
  font-size: 0.5em;
  text-align: center;
}
.container .nextone p {
  color: #F8EFDF;
  font-weight: lighter;
}
.container .nextone-btn {
  height: 100px;
  margin-top: -36px;
  background-image: url(../images/guessNum/nexton-btn.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.container .page1 {
  z-index: 1;
}
.container .page1 .row {
  width: 100%;
  height: 100%;
}
.container .page1 .row .page1-left {
  width: 100%;
  height: 100%;
  background-image: url(../images/guessNum/pagebg-left.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 8em;
  text-align: left;
}
.container .page1 .row .page1-right {
  width: 100%;
  height: 100%;
  background-image: url(../images/guessNum/fran-jacquier-tmuArUNS1TI-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.container .page2 {
  z-index: 2;
  background-image: url(../images/guessNum/becca-schultz-l6BenhrIc2w-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.container .page2 .story {
  top: 10%;
  right: 15%;
}
.container .page3 {
  z-index: 3;
  background-image: url(../images/guessNum/peter-herrmann-NQLzyrn69XA-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.container .page3 .story {
  top: 20%;
  left: 20%;
}
.container .page4 {
  z-index: 4;
  background-image: url(../images/guessNum/priscilla-du-preez-zY0q8eFom8I-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.container .page4 .story {
  top: 10%;
  left: 15%;
}
.container .page5 {
  z-index: 5;
}
.container .page5 .row {
  width: 100%;
  height: 100%;
}
.container .page5 .row .page5-left {
  width: 100%;
  height: 100%;
  background-image: url(../images/guessNum/charlesdeluvio-pcZvxrAyYoQ-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.container .page5 .row .page5-right {
  width: 100%;
  height: 100%;
  background-image: url(../images/guessNum/pagebg-left.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container .page6 {
  background-image: url(../images/guessNum/dan-gold-R1aGG70azDU-unsplash-2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 6;
}
.container .page6 .story {
  width: 100%;
  height: 100%;
}
.container .page6 .story .storyText p {
  position: absolute;
}
.container .page6 .story .storyText .text1 {
  top: 10%;
  left: 10%;
}
.container .page6 .story .storyText .text2 {
  top: 20%;
  right: 15%;
}
.container .page6 .story .storyText .text3 {
  bottom: 10%;
  left: 15%;
}
.container .page6 .story .storyText .text4 {
  bottom: 10%;
  right: 10%;
  font-size: 0.8em;
}
.container .page6 .story .storyText .rule .mark {
  color: #FFE64C;
}
.container .page6 .story .storyText .rule .instance {
  font-size: 0.8em;
}
.container .page6 .story .storyText .penalty > .mark {
  color: #FA6A50;
}
.container .page6 .story .nextone {
  position: absolute;
  right: 5%;
  bottom: 3%;
}
.container .game {
  background-image: url(../images/guessNum/thom-milkovic-kYlYwQze5vI-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 4em 0;
  z-index: 7;
}
.container .game .leftbox {
  padding: 4em 0;
}
.container .game .leftbox .result {
  border: 3px solid #C2E5DE;
  height: 100%;
}
.container .game .rightbox .panel {
  background-image: url(../images/guessNum/panelBG.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.container .game .rightbox .panel .NumBTN-1 {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../images/guessNum/panelOneBTN.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.container .game .rightbox .panel div[className^=NumBTN] {
  position: absolute;
  top: 0;
  left: 0;
}
.container .success {
  background-image: url(../images/guessNum/zulian-firmansyah-sEUAJeFn5mE-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 8;
}
.container .success .story {
  top: 20%;
  left: 30%;
}
.container .success .story .gameOver {
  height: 100px;
  background-image: url(../images/guessNum/gameOverBTN.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.container .fail {
  background-image: url(../images/guessNum/pexels-cottonbro-studio-3738121.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 9;
}
.container .fail .story {
  top: 40%;
  left: 10%;
}
.container .fail .story .reGame {
  display: flex;
  justify-content: space-around;
}
.container .fail .story .reGame .reGameBTN {
  width: 100%;
  height: 100px;
  background-image: url(../images/guessNum/gameOverBTN.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.container .fail .story .reGame .failGameOverBTN {
  width: 100%;
  height: 100px;
  background-image: url(../images/guessNum/FailGameOverBTN.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.Cardboxfront {
  height: 100px;
  width: 30px;
  background-color: aqua;
}

.Cardboxback {
  height: 100px;
  width: 30px;
  background-color: rgb(35, 94, 94);
}/*# sourceMappingURL=style.css.map */