* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    font-family: 'Poppins', arial;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style-type: none;
    margin: 0!important;
    padding: 0;
}

img{
    width: 100%;
}

.morePicture {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;

    button {
        padding: 0.25rem 0.25rem;
        font-style: 2rem;
        border: none;
        background-color: rgb(94, 29, 29);
        color: #fff;
        cursor: pointer;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,300;1,400&display=swap');
@import "./nav";
@import "./search";
@import "./footer";
@import "./picture";
@import "./hmoepage";